@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}


:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  word-break: break-word;
  --color-instance : rgb(240, 240, 240);
  --color-instance-popover-bg: rgb(220, 220, 220);
  --Mail-Background: rgba(49, 51, 56, 1);
  --new-message-text: rgba(0, 0, 0, 0.87);

  --bg-primary : rgba(250, 250, 250, 1);
  --bg-2: rgb(240, 240, 240);
  --bg-3: rgba(0, 0, 0, 0.08);
  --unread: rgb(66, 151, 226);
  --apps-circle: rgb(240, 240, 240);
  --green: rgb(94, 176, 73);
  --danger: rgb(177, 70, 70);
  --text-contrast: rgba(0, 0, 0, 0.87);
  --text-contrast-muted: rgba(0, 0, 0, 0.6);
}

body {
  margin: 0px;
}

.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.5s ease; /* Optional: adds a fade effect */
}

.image-container .hover-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}

.image-container:hover .base-image {
  opacity: 0.6;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 16px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-main);
  border-radius: 8px;
  background-clip: content-box;
  border: 4px solid transparent;
  transition: 0.3s background-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-main);
}


@property --var1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}


.scrollable-container {
  transition: --var1 0.4s;

}

.scrollable-container:hover {
  --var1: var(--primary-main);
}


.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--var1);
  border-radius: 8px;
  background-clip: content-box;
  border: 4px solid transparent;
  opacity: 0;
}


/* Mobile-specific scrollbar styles */
@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 8px; /* Narrower scrollbar width on mobile */
    height: 6px; /* Narrower scrollbar height on mobile */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px; /* Adjust the radius for a narrower thumb */
    border: 2px solid transparent; /* Narrower thumb border */
  }
}

.group-list::-webkit-scrollbar-thumb:hover {
  background-color: whitesmoke;
}

html, body {
  overscroll-behavior:none !important;
}

.swiper {
  width: 100%;
}
